:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  text-align: center;
  color: white;
}

.game-section {
  --square-size: 100px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, var(--square-size));
  grid-template-rows: repeat(3, var(--square-size));
  color: white;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 90%;
  height: 90%;
  cursor: pointer;
  transition: 100ms ease;
  pointer-events: auto;
}

.square:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.disabled {
  pointer-events: none;
}

.x,
.o {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: entrance 200ms ease both;
}

.x {
  filter: drop-shadow(0 0 3px #2f76ff) drop-shadow(0 0 7px #2f76ff)
    drop-shadow(0 0 11px #2f76ff);
}

.o {
  filter: drop-shadow(0 0 3px #cc206c) drop-shadow(0 0 7px #cc206c)
    drop-shadow(0 0 11px #cc206c);
}

.x .line {
  position: absolute;
  --line-height: 8px;
  width: calc(var(--square-size) * 0.8);
  height: var(--line-height);
  border-radius: calc(var(--line-height) / 2);
  background-color: white;
  rotate: 45deg;
}

.line:nth-child(2) {
  rotate: -45deg;
}

.o .circle {
  position: absolute;
  width: calc(var(--square-size) * 0.5);
  height: calc(var(--square-size) * 0.5);
  border: 8px solid white;
  border-radius: 50%;
}

.buttons-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.btn-reset {
  font-size: 13pt;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 30px;
  color: white;
  border-radius: 30px;
  border: 3px solid white;
  filter: drop-shadow(0 0 2px rgb(180, 180, 180));
  background: none;
  cursor: pointer;
  transition: 100ms ease;
}

.btn-reset:hover {
  translate: 0 -5px;
  filter: drop-shadow(0 0 3px rgb(180, 180, 180))
    drop-shadow(0 0 7px rgb(180, 180, 180));
}

.btn-reset:active {
  translate: 0 0px;
  filter: drop-shadow(0 0 2px rgb(180, 180, 180))
    drop-shadow(0 0 5px rgb(180, 180, 180))
    drop-shadow(0 0 8px rgb(180, 180, 180));
}

.dialog {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 100ms ease;
  animation: entrance 100ms ease both;
}

.dialog .background-message {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
  background-color: rgb(22, 22, 22);
  border-radius: 25px;
  overflow: hidden;
}

.dialog .animated-squares {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.blue-side,
.pink-side {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150%;
  animation: turn 2.5s linear infinite both;
}

.blue-side div,
.pink-side div {
  width: 50%;
  height: 100%;
}

.blue-side div:nth-child(1) {
  background: #2f76ff;
  background: linear-gradient(
    90deg,
    #2f76ff 0%,
    rgb(185, 208, 255) 50%,
    #2f76ff 100%
  );
  filter: drop-shadow(0 0 5px #2f76ff) drop-shadow(0 0 10px #2f76ff)
    drop-shadow(0 0 15px #2f76ff) drop-shadow(0 0 20px #2f76ff)
    drop-shadow(0 0 25px #2f76ff) drop-shadow(0 0 30px #2f76ff);
}

.pink-side div:nth-child(2) {
  background: rgb(204, 32, 108);
  background: linear-gradient(
    90deg,
    rgba(204, 32, 108, 1) 0%,
    rgb(250, 186, 215) 50%,
    rgba(204, 32, 108, 1) 100%
  );
  filter: drop-shadow(0 0 5px #cc206c) drop-shadow(0 0 10px #cc206c)
    drop-shadow(0 0 15px #cc206c) drop-shadow(0 0 20px #cc206c)
    drop-shadow(0 0 25px #cc206c) drop-shadow(0 0 30px #cc206c);
}
.dialog .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: 700;
  width: 345px;
  height: 345px;
  border-radius: 15px;
  background-color: rgb(22, 22, 22);
  color: white;
  z-index: 2;
}

@keyframes turn {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.8;
  }
}
